@model EprocurementWeb.Models.UsuarioModel
@{
    ViewBag.Title = "Recuperacion de contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/validacionProveedor.css" rel="stylesheet" />
<div class="container">
    @using (Html.BeginForm("IniciarRecuperacion", "Seguridad", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row pb-0">
            <div class="col-sm-12">
                <h3 class="subtitle">
                    Recuperación de contraseña
                </h3>
            </div>
        </div>

        <div class="formPrincipal">
            <div class="col100" style="font-size:14px;">
                Recuperación de contraseña
            </div>
            <div class="col100 mt-2">
                <div class="col25">
                    <div class="inputIF">
                        @Html.LabelFor(model => model.Email, new { @class = "labelTexto control-label" })
                    </div>
                    <div class="inputIF">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control inputIF" })
                    </div>
                </div>

                @ViewBag.Error
            </div>

            <div class="row mt-4">
                <div class="col-sm-6">&nbsp;</div>
                <div class="col-sm-3"><input type="submit" value="Recuperar" class="btnStyle" /></div>
            </div>
        </div>

    }
</div>
