body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.bg-purple {
    background-color: purple !important;
    color: white;
}
.btn-purple {
    color: #fff;
    background-color: #800080;
    border-color: #eaeef2;
}
.btn-purple:hover {
    color: #fff;
    background-color: #d194d16e;
    border-color: #eaeef2;
}
.btn-purple:not(:disabled):not(.disabled):active, .btn-purple:not(:disabled):not(.disabled).active, .show > .btn-purple.dropdown-toggle {
    color: #fff;
    background-color: #d194d16e;
    border-color: #eaeef2;
}
.icon-color {
 color:purple;
}
